In [2]:
import numpy as np
import pandas as pd
from kmodes.kmodes import KModes

Q: How does k-protypes know which of my features are numerical and which are categorical?

A: You tell it which column indices are categorical using the categorical argument. All others are assumed numerical. E.g., clusters = KPrototypes().fit_predict(X, categorical=[1, 2])

In [7]:
df = pd.read_csv('../../data/df_final_stationery.csv')
# df = pd.read_csv('../../final_dfs/df_final_without_labor.csv')

In [3]:
df.shape

(401, 179)

In [8]:
list(df.columns)

['cluster',
 'kreis',
 'ags5',
 'ags2',
 'supermarkets_population',
 'supermarkets_average_distance',
 'public_transport_availability',
 'average_distance_bus_stop',
 'average_distance_train_station',
 'average_distance_public_transport',
 'Unnamed:_0',
 'number_of_students',
 'number_of_hospitals',
 'number_of_hospital_beds',
 'number_of_hospital_beds_adj',
 'hospital_patiants',
 'households_of_1_person',
 'households_of_2_person',
 'households_of_3_person',
 'households_of_4_person',
 'households_of_5_person_or_more',
 'household_with_kids',
 'household_with_kids_under_3',
 'household_with_kids_over_3_under_6',
 'household_with_kids_over_6_under_10',
 'household_with_kids_over_10_under_15',
 'household_with_kids_over_15_under_18',
 'household_with_double_income_no_kids',
 'car_density',
 'no_of_paths_per_person_and_day',
 'kilometers_per_person_and_day',
 '_percentage_out_of_home',
 'share_of_journeys_on_foot',
 'share_of_journeys_on_bike',
 'proportion_of_motorised_vehicle_passenger',
 'share_of_motorised_vehicle_driver',
 'share_of_public_transport_',
 'public_transport_per_1000_inhabitants',
 'activity_index',
 'municipal_dept_per_capita',
 'municipal_tax_per_capita',
 'municipal_tax_per_capita.1',
 'no_of_births_in_2018',
 '2018_population',
 '2019_population',
 '2018_men_population',
 '2018_women_population',
 '2018_population_under_3_yrs',
 '2018_population_3_to_6',
 '2018_population_6_to_10',
 '2018_population_10_to_15',
 '2018_population_15_to_18',
 '2018_population_18_to_20',
 '2018_population_20_to_25',
 '2018_population_25_to_30',
 '2018_population_30_to_35',
 '2018_population_35_to_40',
 '2018_population_40_to_45',
 '2018_population_45_to_50',
 '2018_population_50_to_55',
 '2018_population_55_to_60',
 '2018_population_60_to_65',
 '2018_population_65_to_75',
 '2018_population_above_75',
 '2019_population_under_5',
 '2019_population_5_to_15',
 '2019_population_15_to_35',
 '2019_population_35_to_60',
 '2019_population_60_to_80',
 '2019_population_above_80',
 'no_of_foreigners_2018',
 'proportion_of_foreigners_in_2018',
 'no_of_births_per_capita',
 'Number_of_Commuters_place_of_work',
 'Number_of_Commuters_on_place_of_residence)',
 'Commuter_Balance',
 'Proportion_of_in_commuters',
 'Share_of_out_commuters',
 'Relative_Commuter_Balance',
 'Commute_within_50km',
 'Commute_within_150km',
 'Commute_within_300km',
 'number_accomodation_establishments',
 'number_of_beds',
 'number_of_guests',
 'guests_staying_overnight',
 'number_of_companies',
 'number_of_companies_agriculture',
 'number_of_companies_mining',
 'number_of_companies_manufacturing',
 'number_of_companies_energy',
 'number_of_companies_water_and_sewage',
 'number_of_companies_construction',
 'number_of_companies_repair_motor_vehicles',
 'number_of_companies_transport',
 'number_of_companies_hospitality',
 'number_of_companies_communication',
 'number_of_companies_financial_and_insurance',
 'number_of_companies_real_estat',
 'number_of_companies_technical_services',
 'number_of_companies_economic_services',
 'number_of_companies_administration',
 'number_of_companies_education',
 'number_of_companies_health_and_social_services',
 'number_of_companies_arts_entertainment',
 'number_of_companies_rendering_other_services',
 'number_of_companies_domestic_staff',
 'number_of_companies_extraterritorial',
 'number_of_companies_1_to_4_employees',
 'number_of_companies_5_to_49_employees',
 'number_of_companies_50_to_400_employees',
 'number_of_companies_500_or_more_employees',
 'no_of_hairdressers',
 'no_of_restraunts',
 'no_of_branches',
 'no_of_commertial_units',
 'no_of_shopping_malls',
 'no_of_clubs',
 'no_of_slaughterhouse',
 'no_of_education_centers',
 'no_of_shopping',
 'no_of_free_time',
 'no_of_tourism_points',
 'no_of_food_and_drink',
 'no_of_public_institution',
 'no_of_traffic_centers',
 'no_of_health_centers',
 'no_of_business',
 'total_area',
 'Residential_area_percentage',
 'industrial_/_commertial_area_percentage',
 'dump_area_percentage',
 'mining_area_percentage',
 'open_pit,_mine,_quarry_area_percentage',
 'mixed_use_area_percentage',
 'special_functional_character_land_percentage',
 'sport,_leisure,_recreation_area_percentage',
 'cemetry_area_percentage',
 'road_area_percentage',
 'space_area_percentage',
 'rail_traffic_area_percentage',
 'air_traffic_area_percentage',
 'shipping_area_percentage',
 'agri_area_percentage',
 'forrest_area_percentage',
 'wood_area_percentage',
 'health_area_percentage',
 'moor_area_percentage',
 'swamp_area_percentage',
 'without_vegetation_area_percentage',
 'flowing_water_percentage',
 'harbor_basin_percentage',
 'standing_water_percentage',
 'sea_percentage',
 'median_income',
 'purchasing_power_per_household',
 'purchasing_power_per_person',
 'debtor_quota',
 'household_in_income_calss_1',
 'household_in_income_calss_2',
 'household_in_income_calss_3',
 'household_in_income_calss_4',
 'household_in_income_calss_5',
 'household_in_income_calss_6',
 'labor_market_region',
 'growing_/_shrinking_circles',
 'labor_market_type',
 'grw_funding_framework',
 'settlement_structure_type_of_labor_market_region',
 'room_type_location',
 'district_settlement_structure',
 'type_of_settlement_structure',
 'urban_/_rural',
 'metropolitan_region',
 'metropolitan_area',
 'east_west',
 'border_proximity',
 'support_area_status',
 'eligible_area']

In [9]:
cat_cols = ['labor_market_region', 'growing_/_shrinking_circles',
            'labor_market_type', 'grw_funding_framework',
            'settlement_structure_type_of_labor_market_region',
            'room_type_location', 'district_settlement_structure',
            'type_of_settlement_structure', 'urban_/_rural',
            'metropolitan_region', 'metropolitan_area',
            'east_west', 'border_proximity',
            'support_area_status', 'eligible_area']

In [12]:
df[cat_cols]

,labor_market_region,growing_/_shrinking_circles,labor_market_type,grw_funding_framework,settlement_structure_type_of_labor_market_region,room_type_location,district_settlement_structure,type_of_settlement_structure,urban_/_rural,metropolitan_region,metropolitan_area,east_west,border_proximity,support_area_status,eligible_area
0,4,5,5,1,3,2,4,3,2,99,99,1,1,C,1
1,6,4,2,4,1,2,1,2,1,99,99,1,0,C/D,1
2,5,4,5,4,1,1,1,2,1,5,99,1,0,C/D,1
3,6,4,5,6,1,2,3,2,2,5,99,1,0,D,1
4,2,4,5,1,3,4,4,3,2,5,99,1,0,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,256,1,10,2,3,3,4,2,2,99,99,2,0,C*,1
397,244,2,10,2,1,3,3,2,2,99,99,2,0,C*,1
398,257,1,11,2,3,3,4,2,2,99,99,2,2,C*,1
399,243,2,11,2,1,3,2,2,1,99,99,2,0,C*,1
400,258,1,11,2,2,3,3,2,2,7,99,2,0,C*,1

In [6]:
df1 = df.drop(columns=['kreis', 'ags5', 'ags2', 'Unnamed:_0', 'eligible_area'])
# df1 = df.drop(columns=['cluster', 'kreis', 'ags5', 'ags2', 'Unnamed:_0', 'support_area_status'])

In [7]:
km = KModes(n_clusters=3, init='Huang', n_init=5, verbose=1)
clusters = km.fit_predict(df1, categorical=cat_cols)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 90, cost: 61554.0
Run 1, iteration: 2/100, moves: 33, cost: 61460.0
Run 1, iteration: 3/100, moves: 9, cost: 61442.0
Run 1, iteration: 4/100, moves: 1, cost: 61440.0
Run 1, iteration: 5/100, moves: 1, cost: 61438.0
Run 1, iteration: 6/100, moves: 0, cost: 61438.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 79, cost: 61778.0
Run 2, iteration: 2/100, moves: 63, cost: 61626.0
Run 2, iteration: 3/100, moves: 47, cost: 61525.0
Run 2, iteration: 4/100, moves: 15, cost: 61493.0
Run 2, iteration: 5/100, moves: 1, cost: 61493.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 62, cost: 61334.0
Run 3, iteration: 2/100, moves: 9, cost: 61325.0
Run 3, iteration: 3/100, moves: 0, cost: 61325.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 43, cost: 61307.0
Run 4, iteration: 2/100, moves: 20, cost: 61280.0
Run 4, iteration: 3/100, moves: 2, cost: 61277.0
Run 4, iteration: 4/100, moves: 0, cost: 61277.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 43, cost: 61367.0
Run 5, iteration: 2/100, moves: 4, cost: 61363.0
Run 5, iteration: 3/100, moves: 0, cost: 61363.0
Best run was number 4

In [8]:
#km.cluster_centroids_

In [9]:
#km.labels_

In [10]:
df['cluster'] = km.labels_

In [11]:
df_plot = df[['kreis', 'ags5', 'cluster']]

In [12]:
df_plot.to_csv('kmodes3.csv')

In [40]:
df['cluster'].value_counts()

2    190
0    114
1     97
Name: cluster, dtype: int64

In [38]:
pd.DataFrame(df['cluster'].value_counts())

   cluster
2      190
0      114
1       97

In [18]:
cat_cols.index

In [24]:
options = list(df.columns)

In [26]:
[options.index(value) for value in cat_cols]

[164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178]