network approach on unemployment rate for the big cluster in PCA/k-means

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
cd ..

/Users/cinny/GitHub/Map-Tool

### clustering results

In [3]:
df_cluster = pd.read_csv('data/df_final_with_clusters.csv', index_col=0)

In [4]:
df_cluster.head(1)

,data_index,cluster,kreis,ags5,ags2,supermarkets_population,supermarkets_average_distance,public_transport_availability,average_distance_bus_stop,average_distance_train_station,...,median_income,purchasing_power_per_household,purchasing_power_per_person,debtor_quota,household_in_income_calss_1,household_in_income_calss_2,household_in_income_calss_3,household_in_income_calss_4,household_in_income_calss_5,household_in_income_calss_6
0,0,2,"Flensburg, Stadt",1001,1,92,500,35,240,2901,...,2986,34496,19556,16.0,13209,12385,13092,5441,3096,3497

In [5]:
df_cluster = df_cluster[['cluster', 'ags2', 'kreis', 'ags5']]

In [6]:
# fix ags5 code to be len=5, add 0 at front
def fix_ags5(x):
    if len(str(x))==4:
        return '0'+str(x)
    else:
        return str(x)
df_cluster['ags5'] = df_cluster['ags5'].apply(fix_ags5)

In [7]:
df_cluster['cluster'].value_counts()

2    331
0     68
1      2
Name: cluster, dtype: int64

In [8]:
df_cluster2 = df_cluster[df_cluster['cluster']==2]

In [9]:
len(set(df_cluster2['kreis'])) #331

331

### network approach

In [10]:
df = pd.read_csv('data/arbeitsmarktentwicklung.csv')

In [11]:
# fix ags5 code to be len=5, add 0 at front
def fix_ags5(x):
    if len(str(x))==4:
        return '0'+str(x)
    else:
        return str(x)
df['ags5'] = df['ags5'].apply(fix_ags5)

In [12]:
# unemployment rate
filter_col = [col for col in df if col.startswith('kr_alq_')]
df_kr_alq = df[['ags5'] + filter_col]

In [13]:
df = pd.merge(df_cluster2, df_kr_alq, on='ags5')

In [14]:
df_corr = df.set_index('ags5')[filter_col]

In [15]:
df_corr.T.corr()

ags5,01001,01004,01051,01053,01054,01055,01056,01057,01058,01059,...,16068,16069,16070,16071,16072,16073,16074,16075,16076,16077
ags5,,,,,,,,,,,,,,,,,,,,,
01001,1.000000,0.857821,0.688320,0.916818,0.390461,0.384950,0.872014,0.854145,0.874896,0.877899,...,0.897264,0.802101,0.859229,0.857468,0.893061,0.742200,0.680475,0.450199,0.788869,0.181870
01004,0.857821,1.000000,0.769886,0.970232,0.498894,0.505034,0.990470,0.904970,0.967913,0.965859,...,0.939557,0.896830,0.890014,0.925019,0.962851,0.900445,0.823090,0.647421,0.814727,0.292500
01051,0.688320,0.769886,1.000000,0.780922,0.911184,0.908203,0.763807,0.853953,0.761588,0.832761,...,0.856000,0.896097,0.887001,0.905616,0.795807,0.927125,0.960186,0.871511,0.927166,0.585637
01053,0.916818,0.970232,0.780922,1.000000,0.508367,0.512201,0.983248,0.940682,0.961942,0.968019,...,0.968850,0.891276,0.928989,0.938249,0.961462,0.870648,0.809444,0.608189,0.858061,0.280444
01054,0.390461,0.498894,0.911184,0.508367,1.000000,0.994043,0.493366,0.647722,0.490433,0.599598,...,0.621651,0.730582,0.685006,0.706133,0.541864,0.748773,0.841639,0.824063,0.794012,0.613923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16073,0.742200,0.900445,0.927125,0.870648,0.748773,0.741378,0.882100,0.884994,0.889128,0.901501,...,0.905833,0.894771,0.927326,0.934308,0.856372,1.000000,0.958580,0.886365,0.899514,0.596373
16074,0.680475,0.823090,0.960186,0.809444,0.841639,0.840043,0.805331,0.879606,0.823636,0.855221,...,0.885073,0.894765,0.909559,0.936522,0.815492,0.958580,1.000000,0.913116,0.933227,0.645964
16075,0.450199,0.647421,0.871511,0.608189,0.824063,0.820981,0.626960,0.747086,0.684015,0.666186,...,0.709086,0.709776,0.782120,0.771041,0.582529,0.886365,0.913116,1.000000,0.819795,0.842406
16076,0.788869,0.814727,0.927166,0.858061,0.794012,0.795024,0.825419,0.939936,0.841311,0.892245,...,0.928302,0.905197,0.949670,0.956311,0.842628,0.899514,0.933227,0.819795,1.000000,0.571696
16077,0.181870,0.292500,0.585637,0.280444,0.613923,0.593967,0.281350,0.502275,0.415166,0.282551,...,0.409805,0.301349,0.536194,0.477651,0.202852,0.596373,0.645964,0.842406,0.571696,1.000000

In [16]:
(sum((df_corr.transpose().corr()>0.99).sum())-401)//2

18

In [17]:
cluster2 = set(df_cluster2['kreis'])

In [18]:
group1 = set(['Segeberg', 'Stormarn', 'Hamburg', 'Hannover', 'Diepholz', 'Lüneburg', 'Stade', 'Düsseldorf', 'Krefeld', 'Mülheim an der Ruhr', 'Wuppertal', 'Mettmann', 'Rhein-Kreis Neuss', 'Bonn', 'Köln', 'Euskirchen', 'Rheinisch-Bergischer Kreis', 'Rhein-Sieg-Kreis', 'Gelsenkirchen', 'Dortmund', 'Ennepe-Ruhr-Kreis', 'Olpe', 'Siegen-Wittgenstein', 'Kreisfreie Stadt Frankfurt am Main', 'Groß-Gerau', 'Main-Taunus', 'Offenbach', 'Stadt Worms', 'Südliche Weinstraße', 'Rhein-Pfalz-Kreis', 'Mainz-Bingen', 'Stuttgart', 'Böblingen', 'Esslingen', 'Göppingen', 'Ludwigsburg', 'Rems-Murr-Kreis', 'Heilbronn, Stadt', 'Heilbronn, Kreis', 'Schwäbisch Hall', 'Ostalbkreis', 'Karlsruhe, Stadt', 'Karlsruhe, Kreis', 'Rastatt', 'Rhein-Neckar-Kreis', 'Pforzheim', 'Enzkreis', 'Freudenstadt', 'Freiburg im Breisgau', 'Breisgau-Hochschwarzwald', 'Schwarzwald-Baar-Kreis', 'Konstanz', 'Lörrach', 'Waldshut', 'Reutlingen', 'Zollernalbkreis', 'Ulm', 'Alb-Donau-Kreis', 'Sigmaringen', 'Ingolstadt', 'München, Landeshauptstadt', 'Fürstenfeldbruck', 'München, Kreis', 'Starnberg', 'Regensburg, Stadt', 'Aschaffenburg, Kreis', 'Augsburg, Stadt', 'Kempten (Allgäu)', 'Berlin', 'Leipzig, Stadt', 'Wartburgkreis'])
group2 = set(['Ortenaukreis', 'Dachau', 'Ebersberg', 'Erding', 'Freising', 'Landsberg am Lech', 'Erlangen-Höchstadt', 'Dillingen a.d.Donau'])
group3 = set(['Wesel', 'Unna', 'Nürnberg'])
group4 = set(['Fulda', 'Neuwied', 'Gotha'])
group5 = set(['Neumünster, Stadt', 'Pinneberg'])
group6 = set(['Nordfriesland', 'Ostholstein'])
group7 = set(['Osnabrück', 'Soest'])
group8 = set(['Donnersbergkreis', 'Eichstätt'])
group9 = set(['Freyung-Grafenau', 'Regen'])
group10 = set(['Halle (Saale)', 'Erfurt'])

In [31]:
print(cluster2.intersection(group1)) # 71->40

{'Göppingen', 'Ostalbkreis', 'Enzkreis', 'Mülheim an der Ruhr', 'Euskirchen', 'Rheinisch-Bergischer Kreis', 'Freudenstadt', 'Stormarn', 'Diepholz', 'Heilbronn, Kreis', 'Stadt Worms', 'Zollernalbkreis', 'Ulm', 'Mainz-Bingen', 'Aschaffenburg, Kreis', 'Schwarzwald-Baar-Kreis', 'Lörrach', 'Siegen-Wittgenstein', 'Schwäbisch Hall', 'Pforzheim', 'Breisgau-Hochschwarzwald', 'Ingolstadt', 'Segeberg', 'Waldshut', 'Olpe', 'Alb-Donau-Kreis', 'Kempten (Allgäu)', 'Lüneburg', 'Fürstenfeldbruck', 'Starnberg', 'Main-Taunus', 'Reutlingen', 'Sigmaringen', 'Rastatt', 'Wartburgkreis', 'Stade', 'Konstanz', 'Heilbronn, Stadt', 'Rhein-Pfalz-Kreis', 'Südliche Weinstraße'}

In [20]:
cluster2.intersection(group2) #8->7: Ortenaukreis

{'Dachau',
 'Dillingen a.d.Donau',
 'Ebersberg',
 'Erding',
 'Erlangen-Höchstadt',
 'Freising',
 'Landsberg am Lech'}

In [21]:
cluster2.intersection(group3) #3->0: 'Wesel', 'Unna', 'Nürnberg'

set()

In [22]:
cluster2.intersection(group4) #3->3

{'Fulda', 'Gotha', 'Neuwied'}

In [23]:
cluster2.intersection(group5) #2->2

{'Neumünster, Stadt', 'Pinneberg'}

In [24]:
cluster2.intersection(group6) #2->2

{'Nordfriesland', 'Ostholstein'}

In [25]:
cluster2.intersection(group7) #2->1: Osnabrück

{'Soest'}

In [26]:
cluster2.intersection(group8) #2->2

{'Donnersbergkreis', 'Eichstätt'}

In [27]:
cluster2.intersection(group9) #2->2

{'Freyung-Grafenau', 'Regen'}

In [28]:
cluster2.intersection(group10) #2->0: 'Halle (Saale)', 'Erfurt'

set()